.navbar-brand {
  margin-right: 30%; /* Ajuste cette valeur à tes besoins */
  padding-right: 20px; 
}

.navbar {
  background-color:black;  /* Utilise !important pour forcer la transparence */
  max-width: 100%;
}
.navbar-brand {
  color: white !important;  /* Utilise !important pour être sûr que la couleur s'applique */
}

/* Si tu veux aussi changer la couleur du texte des liens de la navbar en blanc */
.navbar-nav .nav-link {
  color: white !important;  /* Utilise !important pour forcer la couleur blanche */
}

/* Optionnel: Ajouter un effet au survol pour les liens (changer de couleur sur hover) */
.navbar-nav .nav-link:hover {
  color: #ddd !important;  /* Change la couleur au survol */
}