<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="margin-left: 150px;">Logi-Tech</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-6 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Acceuil</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/Application-Web']">DÉVELOPPEMENT SITE WEB</a>

            <li><a class="dropdown-item" [routerLink]="['/Applications-Web']">DÉVELOPPEMENT D’APPLICATIONS Web</a></li>
            
            <li><a class="dropdown-item"[routerLink]="['/Digitale']">Transformation Digitale</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Formation
          </a>
          <ul class="dropdown-menu">
            <a class="dropdown-item" [routerLink]="['/Application-Web']">SpringBoot/JAVA</a>

            <li><a class="dropdown-item" [routerLink]="['/Applications-Web']">ASP.NET/c#</a></li>
            
            <li><a class="dropdown-item"[routerLink]="['/Digitale']">Angular/TypeScript</a></li>

            <li><a class="dropdown-item"[routerLink]="['/Digitale']">PowerBI</a></li>
            
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Process']" >Notre Processus</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/Actualite']">Actualite</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact</a>
        </li>
        
        
      </ul>
      
    </div>
  </div>
</nav>

<!-- app.component.html -->

